[submodule "btcpayserver"]
	path = submodules/btcpayserver
	url = https://github.com/btcpayserver/btcpayserver
[submodule "submodules/boltz"]
	path = submodules/boltz
	url = https://github.com/BoltzExchange/boltz-btcpay-plugin
