@using Aqua.BTCPayPlugin.Views
@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager;
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (SignInManager.IsSignedIn(User) && !string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a class="nav-link @ViewData.ActivePageClass(PluginNavPages.AquaImportWallets)"
           asp-route-storeId="@storeId"
           asp-action="ImportWallets"
           asp-controller="Aqua">
            @* <span class="me-2 btcpay-status btcpay-status--@(isEnabled ? "enabled" : "pending")"></span> *@
            <span>Setup with Aqua</span>
        </a>
    </li>
}