@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Data
@using BTCPayServer.Security
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager;
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (SignInManager.IsSignedIn(User) && !string.IsNullOrEmpty(storeId))
{
    <a asp-controller="Aqua" asp-action="ImportWallets" asp-route-storeId="@Model.StoreId"
       id="SetupGuide-Samrock" class="list-group-item list-group-item-action d-flex align-items-center order-1">
        <vc:icon symbol="wallet-new" />
        <div class="content">
            <h5 class="mb-0" text-translate="true">Set up with SamRock Protocol</h5>
        </div>
        <vc:icon symbol="caret-right" />
    </a>
}
