@using Aqua.BTCPayPlugin
@using Aqua.BTCPayPlugin.Views
@using BTCPayServer.Abstractions.Extensions
@model Aqua.BTCPayPlugin.Controllers.ImportWalletsViewModel
@{
    ViewData.SetActivePage(PluginNavPages.AquaImportWallets, "Test Wallet Import");
}
<h1>@ViewData["Title"]</h1>

@if (SamRockProtocolPlugin.IsDevMode)
{
    <p>
    <form id="testSetupForm" method="post">
        <div class="form-group my-4">
            <label for="formActionUrl">Form Action URL:</label>
            <input type="text" id="formActionUrl" class="form-control" placeholder="Enter form action URL" />
        </div>
        <textarea name="json" rows="8" cols="100">
{
  "BtcChain": {
    "Xpub": "tpubDDPCDkBPaFE5PDhs5NJDb38RKzDuuRcMhcGgGHSdVFFPiX13R1BZCBm3xS48zJRkoqqZEEixpjViweQqSAfDRXHZV6gEeWoGDUnEqQZ42Gg",
    "DerivationPath": "m/84'/0'/1'/0",
    "Type": "P2WPKH"
  },
  "LiquidChain": {
    "Xpub": "tpubD6NzVbkrYhZ4YS6KzQNC9CwKCxcpMFuFfg1uHRuYjFaKMN6gyNnWJ67A349DkZQnrSBLEU7mmrzXH6hrCvXzJzRU6HbK8YGS4D9qCo4AKJ2",
    "BlindingKey": "e2eb4f6a06282febfb3c1fb3fe58fa73c833c564b8810e252a9fe9582454d4e4",
    "DerivationPath": "m/49'/1776'/1'/0",
    "Type": "P2SH_P2WPKH"
  },
  "BtcLn": {
    "UseLiquidBoltz": "true",
    "LiquidAddresses": [
      "VJL7GrTXepmvpnCXvHXRuvjvQd5gSHiyzV9PSLkY4DFyxFG3YP6bWfQpeJC2Un7Q81wwvw7rEXaLJTZd",
      "VJLDJvnypuKPskjHThyT6Jq5SLy9RcDiV1ipKEj6tjSzbYq5SzsG3aZhT59ZiUX2iGeYBDPa9M8MCHTb",
      "VJLKA3JzHLapUchzBMh6qiieHDE1gvHzrMvKd4nMK9XmyHRWPdL9syMDM8P5K4KLGNk1TctaqefoVyZp"
    ]
  }
}
    </textarea>
        <button type="submit" class="btn btn-primary" text-translate="true">Test Setup</button>
    </form>
    <script>
        document.getElementById("testSetupForm").addEventListener("submit", function (event) {
            var formActionUrl = document.getElementById("formActionUrl").value;
            if (formActionUrl) {
                this.action = formActionUrl;
            }
        });
    </script>
    </p>
}
