@using BTCPayServer.Abstractions.Extensions
@using SamRockProtocol.Views
@model SamRockProtocol.Models.ImportResultViewModel
@{
    ViewData.SetActivePage("SamRockProtocol", "SamRock Protocol Result","SamRockProtocol");
}

@switch (Model.OtpStatus)
{
    case true:
        <h1 style="color: green;">Wallets successfully imported! 🎉</h1>
        break;
    case false:
        <h1 style="color: red;">Wallet import failed. Please check logs.</h1>
        if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="text-danger">Error: @Model.ErrorMessage</p>
        }
        break;
    default:
        <h1 style="color: orange;">Invalid OTP. Please try again.</h1>
        break;
}

<div class="form-group my-4">
    <a class="btn btn-secondary" href="/">Go back to Dashboard</a>
</div>
