@using SamRockProtocol
@using BTCPayServer.Abstractions.Extensions
@using SamRockProtocol.Views
@model SamRockProtocol.Models.ImportWalletsViewModel
@{
    ViewData.SetActivePage("SamRockProtocol", "SamRock Protocol - Test Json", "SamRockProtocol");
}
<h1>@ViewData["Title"]</h1>

<p>
<form id="testSetupForm" method="post">
    <div class="form-group my-4">
        <label for="formActionUrl">Form Action URL:</label>
        <input type="text" id="formActionUrl" class="form-control" placeholder="Enter form action URL" />
    </div>
    <div class="form-group my-4">
            <textarea class="form-control" name="json" rows="21" cols="100">
{
    "version": "0.0.1",
    "BTC": {
        "Descriptor": "wpkh([8f681564/84'/0'/0']xpub6BemYiVNp19ZzaJLeF7AV8HUs3Rg2Wh5SYv9iYdUmfixhdnjinwEKPUS6TGD2T7dQo7C2J4SihUU8Bcn8VCF4Hdtrh1RR4mNpV49AcKWD14/0/*)#8m68c9t7"
    },
    "LBTC": {
        "Descriptor": "ct(slip77(e3fd1a36ab40cbd25c945d12f75f47a449fc33b43d8eff735f92a25c21f83c71),elsh(wpkh([8f681564/49'/1776'/0']xpub6BemYiVNp19a2F4Vn6Utm2rVdCgekBSndb5xehcK9AJZJaRKvZkyioLw7WgErP6STYeQq5eGNoedYUHHn1XBb8wuM62UcBbBRXFJtuX95pT/0/*)))#0dsvq5mw"
    },
    "BTC-LN": {
        "Type": "boltz",
        "LBTC": {
            "Descriptor": "ct(slip77(e3fd1a36ab40cbd25c945d12f75f47a449fc33b43d8eff735f92a25c21f83c71),elsh(wpkh([8f681564/49'/1776'/0']xpub6BemYiVNp19a2F4Vn6Utm2rVdCgekBSndb5xehcK9AJZJaRKvZkyioLw7WgErP6STYeQq5eGNoedYUHHn1XBb8wuM62UcBbBRXFJtuX95pT/0/*)))#0dsvq5mw"
        }
    }
}
    </textarea>
    </div>
    <button type="submit" class="btn btn-primary" text-translate="true">Test Setup</button>
</form>
<script>
    document.getElementById("testSetupForm").addEventListener("submit", function (event) {
        var formActionUrl = document.getElementById("formActionUrl").value;
        if (formActionUrl) {
            this.action = formActionUrl;
        }
    });
</script>
</p>
