@using Aqua.BTCPayPlugin.Views
@using BTCPayServer.Abstractions.Extensions
@model Aqua.BTCPayPlugin.Controllers.ImportWalletsViewModel
@{
    ViewData.SetActivePage(PluginNavPages.AquaImportWallets, "Import Wallets from Aqua");
}
<h1>@ViewData["Title"]</h1>
<p>Scan this QR code with Aqua wallet</p>
<p>
    <a href="https://x.com/r0ckstardev">
        <img src="/Resources/img/qrcode.png"/>
    </a>
</p>